<h2>Add Profile</h2>

<form ngNativeValidate (ngSubmit) = "onSubmit()">
    <h5 style="margin-top: 15px;">Contact Details</h5>
    <input required="true" [(ngModel)]="profile.firstName" name = "firstName" type="text" placeholder="First Name" class="form-control mb-4 col-4">
    <input type="text" [(ngModel)]="profile.lastName" name = "lastName" placeholder="Last Name" class="form-control mb-4 col-4">
    <input required="true" type="text" [(ngModel)]="profile.phoneNumber" name = "phoneNumber" placeholder="Phone Number" class="form-control mb-4 col-4">
    <h5>Address</h5>
    <input required="true" type="text" [(ngModel)]="address.addLine1" name = "address.firstName" placeholder="Address Line 1" class="form-control mb-2 col-4">
    <input type="text" [(ngModel)]="address.addLine2" name = "firstName" placeholder="Address Line 2" class="form-control mb-2 col-4">
    <input required="true" type="text" [(ngModel)]="address.city" name = "firstName" placeholder="City" class="form-control mb-2 col-4">
    <input required="true" type="text" [(ngModel)]="address.country" name = "firstName" placeholder="Country" class="form-control mb-2 col-4">
    <input required="true" type="text" [(ngModel)]="address.pincode" name = "firstName" placeholder="PinCode" class="form-control mb-4 col-4">
    <button type="submit" style="margin-bottom: 3px;" class="btn btn-info col-2"> Save Profile</button>
</form>
