h2 {
    margin: 90px 0 10px 0;
}

table, th, td {
    border: .5px solid black;
}


.controls {
    margin: .5rem 0;
    display: flex;
    justify-content: space-between;
}

.search {
    flex-grow: 1;
}

.paginator, .search {
    display: flex;
    justify-content: center;
}

ul.ngx-pagination {
    font-size: small;
    margin: 5px 5px 5px 10px;
    padding: 0;
    font-size: 15px;
}

