<h2 align="center">Profiles List</h2>

<div class="controls">
    <div class="search">
        <input type="text" class="form-control" placeholder="Search..." [(ngModel)]="filterTerm">
    </div>
    <div class="paginator">
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
    <app-pagination [page]="p"></app-pagination>
</div>
    
<table class="table table-hover">
    <thead class="thead-dark">
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Phone Number</th>
            <th>Address&nbsp; </th>
            <th>SBWS compliant</th>
            <th>Mandatory courses done</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody class="tbody-hover">
        <tr *ngFor="let profile of profiles | filter:filterTerm | paginate : {itemsPerPage:5,currentPage:p};" >
            <td>
                {{profile.firstName}}
            </td>
            <td>
                {{profile.lastName}}
            </td>
            <td>
                {{profile.phoneNumber}}
            </td>
            <td>
                {{ profile.address.addLine1 }} <br>
                {{ profile.address.addLine2 }} <br>
                {{ profile.address.city }} ,
                {{ profile.address.country }} <br>
                <strong>Pincode : </strong>
                {{ profile.address.pincode }}
            </td>
            <td>
                <div *ngIf="profile.isSBWSCompliant; else elseBlock">Yes</div>
                <ng-template #elseBlock>No</ng-template>
            </td>
            <td>
                <div *ngIf="profile.areMandatoryCoursesDone; else elseBlock">Yes</div>
                <ng-template #elseBlock>No</ng-template>
            </td>
            <td>
                <button  (click)="goToUpdatePage(profile.id)" class="btn btn-outline-primary btn-sm mb-3">Edit</button>
                <br>
                <button  (click)="deleteProfile(profile.id)" class="btn btn-outline-danger btn-sm mb-3">Delete</button>
            </td>
        </tr>
    </tbody>
</table>
<div *ngIf="(profiles | filter: filterTerm).length==0" class="alert alert-danger" role="alert">
    <p>No Profile Found</p>
</div>
<br>
