<h2 align = "center" style="margin-top: 80px;" >Register Here</h2>
    <hr>
    <div class="container" align = "center">
        <!-- success message -->
        <div style = "margin-top:15px" *ngIf="success">
            <div class="alert alert-info">You've successfully registered!</div>
        </div>
        <div style = "margin-top:15px" *ngIf="alreadyExists">
            <div class="alert alert-danger">Oops! Username already exists</div>
        </div>
        <form (ngSubmit)="onSubmit()" style="margin-top:100px">
            <!-- <label>Username</label> -->
            <input required="true" type="text" [(ngModel)]="credentials.username" name = "username"  placeholder="Username" class="form-control mb-4 col-4">
            <!-- <label>Password</label> -->
            <input required="true" type="password" [(ngModel)]="credentials.password" name = "password" placeholder="Password" class="form-control mb-4 col-4">
            <button type="submit" class="btn btn-info col-2"> Register</button>
            <br><br>
            <span>Already registered? <a [routerLink]="['/login']" routerLinkActive="router-link-active">Login here</a>
            </span>
        </form>
        
    </div>